.up-load {
    margin-left: 242px;
    position: relative;
    display: flex;
    padding-top: 36px;
    justify-content: space-between;
}

.form-up {
    width: 96%;
}

.nama-up {
    width: 420px;
    padding: 4px;
}

form label {
    margin-top: 16px;
}
